<% include partials/nav %>

  <link rel="stylesheet" href="style.css">
  <section id="features">
      
    <h2>Welcome to TheVanity</h2>

      <p>TheVanity has proudly been one of the pioneers of beauty related services in Bangladesh since it was first established in 1998 and has since come a long and joyful way. In these past 25 years, our salon have experienced immense growth and is now home to over 1,00,00,000 valuable 
        customers who have availed over 1,70,00,000 of TheVanity's premium services. The high-quality services and achievements haven't been bound to its 11 ladies beauty outlets only, but have expanded and reached out to receive an opportunity to serve the men though the 6 Menz 
        outlets too. We have a family of 3000 employees, with a complete array of expertise, aims to enhance beauty using each and every square foot of the total 1,07,148 square feet made available to us. However, enhancing beauty isn't an easy task, and hence our salon has invested 
        in multiple sister concerns apart from the ladies and men's beauty outlets including Spring Spa and Canvas Magazine to cater to the beauty, fashion and health needs of all of the precious clients with utmost sincerity.</p>
       
        <img class="about-img  mx-auto " src="images/insta.png" alt="face-img"/>
        
        
      
    </section>
     
    <div class="col-lg-8 mx-auto text-center"><p class="text-muted">&copy; TheVanity </p></div>