<% include partials/nav %>

       <div class="cos">
        <h2>Cosmetics</h2>
       </div>
        <link rel="stylesheet" href="style.css">
          <img class="sale-img" src="images/sales.PNG" alt="eid-sale">
    <!-- Section-->

    <div class="row">


        <div class="col-lg-3">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                    Sale
                </div>
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                    
                </div>
                <!-- Product image-->
                <img class="card-img-top" src="images/lip.jpg" alt="..." />

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Mattee Lipstick</h5>
                        <!-- Product price-->
                        750 Tk
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="/cart">Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                    Sale
                </div>
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                   
                </div>
                <!-- Product image-->
                <img class="card-img-top" src="images/shdw.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Eye Shadow Pallate</h5>
                        <!-- Product price-->
                        1200 Tk
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="/cart">Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                   
                </div>
                <!-- Product image-->
                <img class="card" src="images/blush.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Blush</h5>
                        <!-- Product price-->
                        980 Tk
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="/cart">Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-lg-3">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                   
                </div>
                <!-- Product image-->
                <img class="card" src="images/foundation.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Foundation-Milani</h5>
                        <!-- Product price-->
                        1300 Tk
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="/cart">Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-lg-3">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                   
                </div>
                <!-- Product image-->
                <img class="card" src="images/liner.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Eye-Liner</h5>
                        <!-- Product price-->
                        450 Tk
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="/cart">Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                    Sale
                </div>
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                   
                </div>
                <!-- Product image-->
                <img class="card-img-top" src="images/bronzer.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Bronzer</h5>
                        <!-- Product price-->
                        600 Tk
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="/cart">Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card h-100">
                <!-- Sale badge-->
                
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                   
                </div>
                <!-- Product image-->
                <img class="card" src="images/primer.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Face Primer</h5>
                        <!-- Product price-->
                        720 Tk
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="/cart">Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

       


        <div class="col-lg-3">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                    Sale
                </div>
                <!-- Product image-->
                <img class="card-img-top" src="images/mascara.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Mascara</h5>
                        <!-- Product price-->
                        590 Tk
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="/cart">Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

        
   