<% include partials/nav %>

<h4 class="contact-txt">Visit Our Salon
    In The Heart OF Dhaka</h4>

    <div class="row">

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/a.PNG" alt="">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/b.PNG" alt="">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/c.PNG" alt="">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/g.PNG" alt="">
            </div>
        </div>
         
        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/d.PNG" alt="">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/e.PNG" alt="">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/f.PNG" alt="">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/h.PNG" alt="">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/i.PNG" alt="">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card-body p-4">
                <img src="images/j.PNG" alt="">
            </div>
        </div>
            