<% include partials/nav %>




<section id="pricing">
  <link href="css/styles.css" rel="stylesheet">
  <h2 class="package-heading">Package Details</h2>
  
  <div class="row">
  

  <div class="pricing-column col-lg-4 col-md-6">
  <div class="card">
    <div class="card-header make">
      <h3>Makeup</h3>
  </div>
    <div class="card-body make"> 
      <h4>Bridal Makeup</h4>
      <p>This Package includes saree setting, hair setting with extension, lash & fake nails.</p>
      
      <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='/payment'">Payment</button>
    </div>
  </div>
</div>

 
  <div class="pricing-column col-lg-4 col-md-6">
  <div class="card">
    <div class="card-header make">
      <h3>Hair Treatment</h3>
  </div>
    <div class="card-body make"> 
      <h4>Ozone Treatment</h4>
      <p>This Package includes hair spa,hair oiling,herbal pack,onion treatment and protein treatment.</p>
      
      <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='/payment'">Payment</button>
    </div>
  </div>
  </div>
  

  <div class="pricing-column col-lg-4">
  <div class="card">
    <div class="card-header make">
      <h3>Facial</h3>
  </div>
    <div class="card-body make"> 
      <h4>Spa Facial</h4>
      <p>Remove and treat acne scar, wrinkles and reduce Anti-aging.Free Deep cleansing and massage </p>
  
      <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='/payment'">Payment</button>
      
</button>
    </div>
  </div>
  </div>
 
  </div>
</section>