<% include partials/nav %>

<link href="css/styles.css" rel="stylesheet" />
    

<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Services</h2>
            <!-- <h3 class="section-subheading text-muted">.</h3> -->
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto " src="images/mk.jpg" alt="..." />
                    <h4>Advanced Makeup </h4>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='https://www.youtube.com/watch?v=4sRiSEtWU4A'">click here</button>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto " src="images/cnl.jpeg" alt="..." />
                    <h4>Skin Consultant Advice.</h4>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='https://www.youtube.com/watch?v=eWey1pmP3YE'">click here</button>
                    
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto " src="images/mkp.jpg" alt="..." />
                    <h4>Different Hairstyles.</h4>
                    <!-- <p class="text-muted">Lead Hair Stylist</p> -->
                    <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='https://www.youtube.com/watch?v=9WATPq8WvDw'">click here</button>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto " src="images/Hair-color.jpg" alt="..." />
                    <h4>Hair Color.</h4>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='https://www.youtube.com/watch?v=6UCUIBDN3g8'">click here</button>
                    
                    
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto " src="images/lash.jpg" alt="..." />
                    <h4>Lash Extenton.</h4>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='https://www.youtube.com/watch?v=Rhpubx3o420'">click here</button>
                    
                    
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto " src="images/nail.jpg" alt="..." />
                    <h4>Nail Extention.</h4>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" onclick="location.href='https://www.youtube.com/watch?v=ZN4-0CskYT0'">click here</button>
                    
                    
                </div>
            </div>

            
            <div class="col-lg-8 mx-auto text-center"><p class="text-muted">&copy; TheVanity </p></div>
        </div>
    </div>
</section>