<% include partials/nav %>

<link href="css/styles.css" rel="stylesheet" />

<div class="cos">
<h2 class="package-heading">‼Special Discount</h2>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card h-100">
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top: 1rem; right: 1rem">
               <h4>40% off</h4>
            </div>
            <div class="badge bg-dark text-white position-absolute" style="top: 1rem; right: 1rem">
               
            </div>
            <!-- Product image-->
            <img class="card-img-top" src="images/haircut.jpeg" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                
                    <h4 class="fw-bolder">Hair Package</h4>
                    <h5>This package includes</h5>
                    <li>Hair cut</li>
                    <li>Hot oil massage</li>
                    <li>Hair pack & Hair Wash</li>
                    
                    <div>
											
                        <h5 class="product-old-price"><strike>1500 TK</strike></h5>
                        <h5 class="product-price">1200 TK</h5>
                </div>
                </div>
            </div>
       </div>
       </div>
       
       

        <div class="col-lg-4">
             <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 1rem; right: 1rem">
                       <h4>50% off</h4>
                   </div>
                <div class="badge bg-dark text-white position-absolute" style="top: 1rem; right: 1rem">
                       
                    </div>
                   
                    <img class="card-img-top" src="images/salon2.jpg" alt="..." />
                    
                    <div class="card-body p-4">
                        <div class="text-center">
                            
                            <h4 class="fw-bolder">Makeover Package</h4>
                            <h5>This package includes</h5>
                            <li>Eyelash</li>
                            <li>Nail art</li>
                            <li>Party makeup</li>
                            <!-- Product price-->
                            <div>
											
                                <h5 class="product-old-price"><strike>3000 TK</strike></h5>
                                <h5 class="product-price">1500 TK</h5>
                        </div>
                        </div>
                    </div>
             </div>   
</div>

<div class="col-lg-4">
    <div class="card h-100">
          
           <div class="badge bg-dark text-white position-absolute" style="top: 1rem; right: 1rem">
              <h4>25% off</h4>
          </div>
       <div class="badge bg-dark text-white position-absolute" style="top: 1rem; right: 1rem">
              
           </div>
           
           <img class="card-img-top" src="images/fc.jpg" alt="..." />
           
           <div class="card-body p-4">
               <div class="text-center">
                   
                   <h4 class="fw-bolder">Facial Package</h4>
                   <h5>This package includes</h5>
                            <li>Herbal Facial</li>
                            <li>Face scrub</li>
                            <li>Facial Hair removal</li>
                   <!-- Product price-->
                   <div>
											
                    <h5 class="product-old-price"><strike>960 TK</strike></h5>
                    <h5 class="product-price">850 TK</h5>
            </div>
               </div>
           </div>
    </div>   
</div>